@using Microsoft.Extensions.Configuration
@inject IConfiguration IConfiguration
@{
    ViewData["Title"] = "Inicio";
}


<div class="row">
    <div class="flex-center flex-column col">
        <h5 class="animated fadeIn mb-1">Gracias por usar nuestro producto. Nos alegra que esté con nosotros.</h5>
    </div>
</div>